<% @page_title = "#{competition_name} Rules" %>

<p>
<ul>
    <li>
        Entries are $8.
    </li>
<li>
Submit three 10-14 ounce bottles with no distinguishing marks on the bottle or cap. Well blacked out caps are OK. Nip bottles (6-9 oz.) will be allowed only for Barley Wine (19B & C). In the event you greatly wish to enter any category and only have 2 bottles, we will accept those, and ‘2 bottles only’ must be written on all forms corresponding to that entry. However, please note that this will immediately disqualify you from the Best of Show round. 
<p/>
*Special note concerning Meads and Ciders (categories 24-28): at this time, meads and ciders do not advance to the Best of Show round, so only 2 bottles per entry are required. Ribbons and prizes will still be awarded for 1st, 2nd & 3rd in each category. 

<p/>
Please note - We will not be giving awards in sub-categories, only main categories – e.g 1st, 2nd, 3rd for cat 24, 1st, 2nd, 3rd for cat 25, etc. 

</li>
<li>
Entrant Information Form: Please complete this form ONE TIME ONLY for each entrant. No club affiliation is necessary to enter World Cup of Beer. 
</li>
<li>

Entry Listing Form: Only one Entrant Info form per person is needed, but use additional copies of the Entry List if needed to list all of your entries. Please include any additional notes that are required by BJCP guidelines for styles 20-26. See BJCP style guidelines for the specific requirements.
</li>
<li>

Bottle Labels: Cut out the bottle labels and affix a Bottle Label with the requisite information to each bottle with rubber band(s) – do not use tape. Be sure to include the Entry Number, the BJCP category code (e.g. 2B for Bohemian Pilsner), the Style Name, and any additional information needed. Please ensure that the information on the Bottle Label is complete and matches that on the Entry Listing and Entrant Information Forms. There is no limit on the number of entries an individual may submit, but only one entry per sub-catagory will be allowed. Copy the Bottle Labels page as needed. 
</li>
<li>

Please follow the link to Pay Now with Google Checkout in order to pay for your entries.
</li>
<li>

All shipped entries must be sent to the Berkeley Oak Barrel location below (do not ship via USPS). Pack your entries carefully and time them to arrive before February 16th, 2013. Late entries will not be accepted.
<p/>
	Oak Barrel Winecraft	<br/>
	1443 San Pablo Ave.<br/>
	Berkeley, CA 94702<br/>
<p/>

	Entry drop off locations is: <br/>
 	Oak Barrel Winecraft<br/>
	(Mon - Fri 10-6, Sat 10-5, closed Sunday)<br/>
</li>
</ul>

</p>
