<% @page_title = "#{competition_name} Shipping Information" %>

<p>
All entries are due by noon on February 16th.
</p>
<p>
  Ship to:
</p>
<p>
	Oak Barrel Winecraft	<br/>
	1443 San Pablo Ave.<br/>
	Berkeley, CA 94702<br/>
</p>
<p>
Drop off:
<p/>
	Entry drop off locations are: 
<p/>
 	Oak Barrel Winecraft<br/>
	(Mon - Fri 10-6, Sat 10-5, closed Sunday)
</p>
