<% @page_title = "Label Design Contest" %>

<h3>2014 Bay Area Mashers World Cup Label Design Contest</h3>
<ul>
  <li>Limit 3 Label Designs per Class per Competitor</li>
  <li>Entry fee $3 each entry</li>
  <li>Awards
    <ul>
      <li>1st, 2nd, & 3rd – Ribbons per class</li>
      <li>People’s Choice Ribbon Award (to be determined @ World Cup Finals)</li>
    </ul>
  </li>
  <li>Entries are to be delivered along with homebrew entries (same deadline)</li>
</ul>

<h3>CATEGORIES</h3>
<ul>
  <li>Class 01 – Bottle Label
    <ul>
      <li>All labels must contain the following information:</li>
        <ul>
          <li>Name of beer</li>
          <li>Style of beer (may be included in Name)</li>
        </ul>
      </li>
      <li>Delivery:
        <ul>
          <li>Submit (1) empty bottle with label glued on for display per entry</li>
          <li>Entry fee $3 per entry</li>
          <li>Include entry form with entrant details</li>
          <li>Submit PDF file- email to: <a href="mailto:BAM-WorldCup-Labels@bayareamashers.org">BAM-WorldCup-Labels@bayareamashers.org</a></li>
        </ul>
      </li>
    </ul>  
  </li>
  <li>Class 02 – Brewery Logo
    <ul>
      <li>All logos must contain the following information:</li>
        <ul>
          <li>Name of Brewery</li>
        </ul>
      </li>
      <li>Delivery:
        <ul>
          <li>Submit (1) 8 ½” x 11” (letter sized) print of graphics per entry</li>
          <li>Entry fee $3 per entry</li>
          <li>Include entry form with entrant details</li>
          <li>Submit PDF file- email to: <a href="mailto:BAM-WorldCup-Labels@bayareamashers.org">BAM-WorldCup-Labels@bayareamashers.org</a></li>
        </ul>
      </li>
    </ul> 
  </li>
</ul> 

<h3>JUDGING</h3>
<ul>
  <li>Entries must reflect good taste.</li>
  <li>Criteria will be based on Design, Creativity, Layout, Color Palette, and Overall Impression.</li>
  <li>Judges decision is final.</li>
</ul>

