<% @page_title = "What&rsquo;s All This Then? " %>

<p>
    Welcome to the 20th World Cup of Beer. One of the largest homebrew competitions in California with
    over 500 entries last year. An MCAB qualifier. This competition has a large number of high ranking 
    judges evaluating your beer. And a great party for the awards ceremony, hosted by Linden Street 
    Brewing, who beyond being a great place to hold a comp, will be brewing the Best of Show beer again 
    this year.
</p>
