<% @page_title = "#{competition_name} Online Registration" %>

To complete your entry, please:
<ul>
<li>
Download and print your bottle labels and attach to your bottles with a rubber band.
</li>
<li>
Download and print your entry form and include one copy with your entries.
</li>
<li>
Click on the "Buy now" button to go to Paypal to pay for your entries.
</li>
<li>
If you plan on entering more beers, please wait until you have all your beers entered before
printing out the bottle labels, entry form and paying with Paypal. We will keep
track of all your entries and will cover them at the end. If we reach our max entries, 
anything you've already entered will still be valid and you can pay for those that
were entered prior to reaching capacity.
</li>
<li>
If you have already paid for your entries through Paypal but decide to add more,
please contact the coordinator so that we can make sure you are not charged again for 
entries you've already paid for.
</li>
</ul>
  <br />
  <%= link_to_with_icon('Download all bottle labels',
                        bottle_labels_admin_entries_path,
                        { :extname => '.pdf', :popup => true }) %>
  and your
  <%= link_to_with_icon('Entry Form',
                        entry_form_admin_entries_path,
                        { :extname => '.pdf', :popup => true }) %>
  <br />
  <br />
  <p><%= link_to(image_tag("http://www.paypalobjects.com/en_US/i/btn/btn_xpressCheckout.gif", :alt => "Check out with PayPal" ), paypal_path) %></p>
</form>
