<% @page_title = "#{competition_name} Registration" %>

<p>
    <%= competition_name %> is on online only competion. Beginning February 1st, you can
    register <%= link_to('here', online_registration_path) %>.
</p>
<p>
    If you have registered, but still need to print your labels, entry form or pay for your
    entries, you can go <a href="/register/complete">here</a>.
</p>

<!--
<p>
  Please note, however, that even with online registration, you can&rsquo;t
  completely avoid using some paper, namely the
  <%= link_to_with_icon('registration form', doc_path('registration.pdf'), :popup => true) %>,
  <%= link_to_with_icon('bottle labels', doc_path('bottle_labels.pdf'), :popup => true) %>,
  and your check or money order.
</p>
-->
